venv
node_modules
*.pyc
db.sqlite3
.env
staticfiles

# Django artifacts
runserver

# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml

# Sensitive or high-churn files:
.idea/dataSources.ids
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
*.log


# MacOS files
.DS_Store

# Testing Artifacts
.coverage

# NPM/Webpack
webpack-stats.json
assets/bundles
