DJANGO_SECRET_KEY="RANDOM_STRING"
DJANGO_LOG_LEVEL="ERROR"
APP_LOG_LEVEL="INFO"
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
CSRF_COOKIE_HTTPONLY=True
X_FRAME_OPTIONS="DENY"
ROLLBAR_ACCESS_TOKEN=
ROLLBAR_ENABLED=False
SENDGRID_USERNAME=
SENDGRID_PASSWORD=
SLUG_MAX_LENGTH=72
ENABLE_CACHE=True
ADMIN_EMAIL_ADDRESS="admin@localhost"
ACCOUNT_REQUIRED=False
