defusedxml==0.4.1
dj-database-url==0.4.1
Django==1.10
django-allauth==0.27.0
django-bootstrap-form==3.2.1
django-csp==3.0
django-environ==0.4.0
gunicorn==19.6.0
oauthlib==1.1.2
psycopg2==2.6.2
python3-openid==3.0.10
PyYAML==3.11
requests==2.11.1
requests-oauthlib==0.6.2
rollbar==0.13.3
six==1.10.0
whitenoise==3.2.1
