# core dependencies

beautifulsoup4==4.12.3
celery==5.3.6
dj-database-url==2.1.0
django-allauth==0.54.0
django-bootstrap-form==3.4
django-contrib-comments==2.2.0
django-csp==3.8
django-environ==0.11.2
django-field-history==0.8.0
django-invitations==2.1.0
django-notifications-hq==1.8.3
Django==4.2.11
python-slugify==8.0.4
qrcode==7.4.2
tldextract==5.1.1
django-recaptcha==3.0.0


# external services

django-sendgrid-v5==1.2.3
psycopg2-binary==2.9.9
# Having problems deploying to Heroku with 1.6.3
pylibmc==1.6.3
redis==5.0.6
rollbar==1.0.0

# web server

gunicorn==22.0.0
whitenoise==6.6.0

# dev dependencies

django-webpack-loader==3.0.1
nplusone==1.0.0
pre-commit==3.7.1
django-debug-toolbar==4.4.2


# testing dependencies

django-coverage-plugin==3.1.0
factory-boy==3.3.0
pytest==8.1.1
coverage==7.4.3
pytest-django==4.8.0
pytest-cov==4.1.0
