{% load account %}
{% load i18n %}
{% load board_extras %}

<h1>{{ site.name }} {{ digest_frequency }} digest for {{ timestamp|date }}</h1>

{% if new_boards %}
    <h2>New Boards</h2>
    <ul>
        {% for board in new_boards %}
            <li><a href="https://{{ site.domain }}{{ board|board_url }}">{ board.board_title }}:</a></li>
        {% endfor %}
    </ul>
{% endif %}

{% if notifications %}
    <h2>Board Updates</h2>

    {% for target, for_target in notifications.items %}
        <h3>Board <a href="https://{{ site.domain }}{{ target|board_url }}">{{ target.board_title }}</a></h3>
        <ul>
            {% for notification in for_target %}
                <li>{% include 'boards/email/_notification.html' %}</li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endif %}

<p>
    You are receiving this e-mail because you're subscribed to receive {{ digest_frequency }} updates
    from <a href="https://{{ site.domain }}">{{ site.name }}</a>. To modify your email settings, visit
    your <a href="https://{{ site.domain }}/accounts/profile/">account profile</a>.
</p>
