{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Up Closed" %} | {{ site.name }}{% endblock %}
{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up Closed" %}</h1>

    {% if invite_request_url %}
        <p>
            {% trans "Sign up is currently closed to the public." %}
            <a href="{{ invite_request_url }}">{% trans "Request an invitation." %}</a>
        </p>
    {% else %}
        <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
    {% endif %}
{% endblock %}
