{% load board_extras %}

{% if notification.verb == 'added' %}
    {% if notification.action_object|get_class == 'Hypothesis' %}
        <a href="/accounts/{{ notification.actor.id }}">{{ notification.actor.username }}</a>
        added hypothesis '{{ notification.action_object }}' to board <a href="{{ notification.target|board_url}}">{{ notification.target }}</a> {{ notification.timesince }} ago.
    {% elif  notification.action_object|get_class == 'Evidence' %}
        <a href="/accounts/{{ notification.actor.id }}">{{ notification.actor.username }}</a>
        added evidence '{{ notification.action_object }}' to board <a href="{{ notification.target|board_url}}">{{ notification.target }}</a> {{ notification.timesince }} ago.
    {% else %}
        {{ notification }}
    {% endif %}
{% elif notification.verb == 'edited' %}
    {% if notification.action_object|get_class == 'Hypothesis' %}
        <a href="/accounts/{{ notification.actor.id }}">{{ notification.actor.username }}</a>
        edited hypothesis '{{ notification.action_object }}' on board <a href="{{ notification.target|board_url}}">{{ notification.target }}</a> {{ notification.timesince }} ago.
    {% elif  notification.action_object|get_class == 'Evidence' %}
        <a href="/accounts/{{ notification.actor.id }}">{{ notification.actor.username }}</a>
        edited evidence '{{ notification.action_object }}' on board <a href="{{ notification.target|board_url}}">{{ notification.target }}</a> {{ notification.timesince }} ago.
    {% else %}
        {{ notification }}
    {% endif %}
{% else %}
    {{ notification }}
{% endif %}
