{% extends 'boards/base.html' %}
{% load i18n %}

{% block title %}{% trans "Notifications" %} | {{ site.name }}{% endblock %}

{% load notifications_tags %}
{% load board_extras %}
{% load static %}

{% block content %}
    <h1>{% trans "Notifications" %}</h1>

    <ul class="list-group">
        {% for notification in notifications %}
            <li class="list-group-item">
                {% include 'boards/notifications/_notification.html' %}
            </li>
        {% endfor %}
    </ul>

    {% include 'boards/common/_pagenav.html' with paged=notifications %}

{% endblock %}
