{% load i18n %}
{% load board_extras %}

<table class="table table-hover">
    <thead>
    <tr>
        <th>{% trans "Team" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "Members" %}</th>
        <th>{% trans "Description" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for team in teams %}
        <tr>
            <td>
                <a href="{{ team.get_absolute_url }}">{{ team.name }}</a>
                {% contains_tag user_teams team.id as is_member %}
                {% contains_tag user_pending team.id as is_pending %}
                {% contains_tag user_invites team.id as has_invite %}
                {% contains_tag user_owns team.id as is_owner %}
                {% if is_owner %}
                    &nbsp;<span class="label label-info">{% trans "Owner" %}</span>
                {% elif is_member %}
                    &nbsp;<span class="label label-info">{% trans "Member" %}</span>
                {% elif has_invite %}
                    &nbsp;<span class="label label-info">{% trans "Invited" %}</span>
                {% elif is_pending %}
                    &nbsp; <span class="label label-info">{% trans "Membership Pending" %}</span>
                {% elif team.invitation_required %}
                    &nbsp;<span class="label label-info">{% trans "Invite-Only" %}</span>
                {% endif %}
            </td>
            <td>{{ team.create_timestamp|timesince }}</td>
            <td>{{ team.members.count }}</td>
            <td>{{ team.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'boards/common/_pagenav.html' with paged=teams %}
