{% extends 'boards/base.html' %}
{% load bootstrap %}
{% load i18n %}

{% block title %}{% trans "Invite Team Members" %} | {{ site.name }}{% endblock %}

{% block content %}
    <h1>{% trans "Invite Team Members" %}</h1>

    <form action="{% url 'openach:invite_members' team.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary">{% trans "Invite" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
