{% load i18n %}

<select class="btn btn-info" name="" id="status">
    <option value="start" id="">Sort By</option>
    <option value="byDate" id="byDate">Older Boards</option>
    <option value="byContributer" id="byContributer">Top Contributed Boards</option>
</select>




<table class="table table-hover" id="myTable">
    <thead>
    <tr>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Posted" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "# Contributors" %}</th>
        <th>{% trans "# Evaluators" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for board in boards %}
        <tr>
            <td><a href="{{ board|board_url }}">{{ board.board_title }}</a></td>
            <td>{{ board.pub_date|timesince }}</td>
            <td>{{ board.board_desc }}</td>
            <td>{{ contributors|dict_get:board.id|default_if_none:0 }}</td>
            <td>{{ evaluators|dict_get:board.id|default_if_none:0 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'boards/common/_pagenav.html' with paged=boards %}
