
<table class="table table-hover">
    <thead>
    <tr>
        <th>Title</th>
        <th>Posted</th>
        <th>Description</th>
        <th># Contributors</th>
        <th># Evaluators</th>
    </tr>
    </thead>
    <tbody>
    {% for board in boards %}
        <tr>
            <td><a href="{{ board|board_url }}">{{ board.board_title }}</a></td>
            <td>{{ board.pub_date|timesince }}</td>
            <td>{{ board.board_desc }}</td>
            <td>{{ contributors|dict_get:board.id|default_if_none:0 }}</td>
            <td>{{ evaluators|dict_get:board.id|default_if_none:0 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'boards/common/_pagenav.html' with paged=boards %}
