{% load i18n %}
{% load widget_tweaks %}


<!-- <select class="btn btn-info" name="" id="status">
    <option value="start" id="">Sort By</option>
    <option value="byDate" id="byDate">Older Boards</option>
    <option value="byContributer" id="byContributer">Top Contributed Boards</option>
</select> -->

<div>
    <form method="get">
        <div class="row" class="justify-content-between"></div>
            <div class="form-group col-sm-4 col-md-3">
              {% render_field myFilter.form.board_title class="form-control", placeholder="Board Title" %}
            </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
</div>






<table class="table table-hover" id="myTable">
    <thead>
    <tr>
        <th><a href="?sort=board_title&">{% trans "Title" %}</a></th>
        <th>{% trans "Posted" %}</th>
        <th>{% trans "Description" %}</th>
        <th>{% trans "# Contributors" %}</th>
        <th>{% trans "# Evaluators" %}</th>
    </tr>
    </thead>
    <tbody>
    {% for board in boards %}
        <tr>
            <td><a href="{{ board|board_url }}">{{ board.board_title }}</a></td>
            <td>{{ board.pub_date|timesince }}</td>
            <td>{{ board.board_desc }}</td>
            <td>{{ contributors|dict_get:board.id|default_if_none:0 }}</td>
            <td>{{ evaluators|dict_get:board.id|default_if_none:0 }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'boards/common/_pagenav.html' with paged=boards %}





<!-- <form method="get">
    <div class="well">
      <h4 style="margin-top: 0">Filter</h4>
      <div class="row">
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.username.label_tag }}
          {% render_field filter.form.username class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.first_name.label_tag }}
          {% render_field filter.form.first_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.last_name.label_tag }}
          {% render_field filter.form.last_name class="form-control" %}
        </div>
        <div class="form-group col-sm-4 col-md-3">
          {{ filter.form.year_joined.label_tag }}
          {% render_field filter.form.year_joined class="form-control" %}
        </div>
        <div class="form-group col-sm-8 col-md-6">
          {{ filter.form.groups.label_tag }}
          <div>
            {% for choice in filter.form.groups %}
              <label class="checkbox-inline">
                {{ choice.tag }} {{ choice.choice_label }}
              </label>
            {% endfor %}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span> Search
      </button>
    </div>
  </form> -->