{% load board_extras %}
{% load static %}

{% comment %}
   The levels here need to match the levels in board_extras.
{% endcomment %}
{% if detail_disagreement >= 2.0 %}
    <a href="{{ board|board_url }}?view_type=disagreement">
        <img class="dispute-icon" src="{% static 'boards/images/fire-extreme.svg' %}"
             alt="Extreme dispute over assessment" title="Extreme dispute icon"/>
    </a>
{% elif detail_disagreement >= 1.5 %}
    <a href="{{ board|board_url }}?view_type=disagreement">
        <img class="dispute-icon" src="{% static 'boards/images/fire-large.svg' %}"
             alt="Large dispute over assessment" title="Large dispute icon"/>
    </a>
{% elif detail_disagreement >= 0.5 %}
    <a href="{{ board|board_url }}?view_type=disagreement">
        <img class="dispute-icon" src="{% static 'boards/images/fire-mild.svg' %}"
             alt="Mild dispute over assessment" title="Mild dispute icon"/>
    </a>
{% endif %}
