{% load board_extras %}
{% load i18n %}
{% load static %}

{# The levels here need to match the levels in board_extras. #}
{% if detail_disagreement >= 2.0 %}
    <a href="{{ board|board_url }}?view_type=disagreement">
        <img class="dispute-icon" src="{% static 'boards/images/fire-extreme.svg' %}"
             alt="{% trans "Extreme dispute over assessment" %}" title="{% trans "Extreme dispute icon" %}"/>
    </a>
{% elif detail_disagreement >= 1.5 %}
    <a href="{{ board|board_url }}?view_type=disagreement">
        <img class="dispute-icon" src="{% static 'boards/images/fire-large.svg' %}"
             alt="{% trans "Large dispute over assessment" %}" title="{% trans "Large dispute icon" %}"/>
    </a>
{% elif detail_disagreement >= 0.5 %}
    <a href="{{ board|board_url }}?view_type=disagreement">
        <img class="dispute-icon" src="{% static 'boards/images/fire-mild.svg' %}"
             alt="{% trans "Mild dispute over assessment" %}" title="{% trans "Mild dispute icon" %}"/>
    </a>
{% endif %}
