{% extends 'boards/base.html' %}

{% block title %}About | {{ site.name }}{% endblock %}

{% load static %}

{% block content %}

    <div class="row">

        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">How to Contribute</h3>
                </div>
                <div class="panel-body">
                    <p>
                        The Open Synthesis Project is available open-source under the GNU Public License Version 3 on
                        <a href="https://github.com/twschiller/open-synthesis">GitHub</a>.
                    </p>

                    <p>
                        In addition to intelligence analysis, we're actively looking for the following kinds of
                        contribution:
                    </p>
                    <ul>
                        <li>UI/UX design</li>
                        <li>Front-end development</li>
                        <li>Translation</li>
                        <li>Bug Reports</li>
                    </ul>

                    <p>
                        A list of open development tasks is available via
                        <a href="https://github.com/twschiller/open-synthesis/issues">GitHub Issues</a>. If there's
                        another way you'd like to contribute, email us at
                        <a href="mailto:contribute@opensynthesis.org">contribute@opensynthesis.org</a>.
                    </p>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Content License</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Content on {{ site.name }} is licensed under a
                        <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                            Creative Commons Attribution-ShareAlike 4.0 International License (CC BY-SA 4.0)</a>.
                        Comments should be attributed to their respective authors.
                    </p>
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
                        <img src="{% static 'boards/images/license.png' %}"
                             alt="Creative Commons Attribution-ShareAlike 4.0 International License"/>
                    </a>
                </div>
            </div>

            {% if privacy_url %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Privacy Policy</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            The {{ site.name }} privacy policy is available at
                            <a rel="external" href="{{ privacy_url }}">{{ privacy_url }}</a>
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="col-md-5">

            {% if bitcoin_address %}
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Donate</h3>
                    </div>
                    <div class="panel-body">

                        <div class="media">
                            <div class="media-left">
                                <a href="{{ bitcoin_donate_url }}">
                                    <img class="pull-left media-object" src="{% url 'openach:bitcoin_donate' %}" alt="Bitcoin donation QR code" width="100">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Donate via Bitcoin</h4>
                                Donations help offset the operating costs for {{ site.name }}:
                                <a href="{{ bitcoin_donate_url }}">{{ bitcoin_address }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reporting Bugs</h3>
                </div>
                <div class="panel-body">
                    Find a bug? The best way to report it is using <a href="https://github.com/twschiller/open-synthesis/issues">GitHub Issues</a>.
                    However, you can also email us at <a href="mailto:bugs@opensynthesis.org">bugs@opensynthesis.org</a>.
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Responsible Disclosure</h3>
                </div>
                <div class="panel-body">
                    <p>
                        If you find a security vulnerability in Open Synthesis, please privately report it to
                        <a href="mailto:security@opensynthesis.org">security@opensynthesis.org</a>. For secure
                        communication, please use <a href="https://keybase.io/tschiller">this PGP key.</a>
                    </p>
                    <p>
                        Our responsible disclosure program is
                        <a href="https://github.com/twschiller/open-synthesis/blob/master/SECURITY.md">
                            available via GitHub.
                        </a>
                    </p>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Media Inquiries</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Are you a journalist or blogger interested in learning more about the Open Synthesis Project?
                        Send us an email at <a href="mailto:media@opensynthesis.org">media@opensynthesis.org</a>.
                    </p>

                    <p>
                        For secure communication, please use <a href="https://keybase.io/tschiller">this PGP key.</a>
                    </p>
                </div>
            </div>

        </div>

    </div> <!-- .row -->

{% endblock content %}
