{% extends 'boards/base.html' %}
{% load board_extras %}
{% load bootstrap %}
{% load i18n %}

{% block title %}{% trans "Add Hypothesis" %} | {{ site.name }}{% endblock %}

{% block content %}
    <h1>
      {% blocktrans trimmed with board_title=board.board_title %}
        Add Hypothesis for <i>{{ board_title }}</i>
      {% endblocktrans %}
      </h1>

    <div class="well">{{ board.board_desc }}</div>

    <h2>{% trans "Existing Hypotheses" %}</h2>
    <ul>
        {% for hypothesis in hypotheses %}
            <li>{{ hypothesis.hypothesis_text }}</li>
        {% endfor %}
    </ul>

    <h2>{% trans "New Hypothesis" %}</h2>
    <form action="{% url 'openach:add_hypothesis' board.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div class="">
                <a class="btn btn-default" href="{{ board|board_url }}">{% trans "Return to Board" %}</a>
                <button type="submit" class="btn btn-primary">{% trans "Add Hypothesis" %}</button>
            </div>
        </div>
    </form>

{% endblock %}
