{% extends 'boards/base.html' %}

{% block title %}Add Evidence | {{ site.name }}{% endblock %}

{% load board_extras %}
{% load bootstrap %}
{% load i18n %}

{% block content %}
    <h1>{% trans "Add Evidence for " %} <i>{{ board.board_title }}</i></h1>

    <div class="well">{{ board.board_desc }}</div>

    <form action="{% url 'openach:add_evidence' board.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div>
                <a class="btn btn-default" href="{{ board|board_url }}">Return to Board</a>
                <button type="submit" class="btn btn-primary">{% trans "Add Evidence" %}</button>
            </div>
        </div>
    </form>

{% endblock %}
