{% extends 'boards/base.html' %}
{% load i18n %}
{% load board_extras %}
{% load bootstrap %}

{% block title %}{% trans "Add Evidence" %} | {{ site.name }}{% endblock %}

{% block content %}
    <h1>
      {% blocktrans trimmed with board_title=board.board_title %}
        Add Evidence for <i>{{ board_title }}</i>
      {% endblocktrans %}
    </h1>

    <div class="well">{{ board.board_desc }}</div>

    <form action="{% url 'openach:add_evidence' board.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div>
                <a class="btn btn-default" href="{{ board|board_url }}">{% trans "Return to Board" %}</a>
                <button type="submit" class="btn btn-primary">{% trans "Add Evidence" %}</button>
            </div>
        </div>
    </form>

{% endblock %}
