{% extends 'boards/base.html' %}

{% block title %}Add Source | Open Synthesis{% endblock %}

{% load bootstrap %}
{% load i18n %}

{% block content %}

    {% if corroborating %}
        <h1>{% trans "Add Corroborating Source for Evidence" %}</h1>
    {% else %}
        <h1>{% trans "Add Conflicting Source for Evidence" %}</h1>
    {% endif %}

    <div class="well">{{ evidence.evidence_desc }}</div>

    <form action="{% url 'openach:add_source' evidence.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div>
                <a class="btn btn-default" href="{% url 'openach:evidence_detail' evidence.id %}">Return to Evidence</a>
                <button type="submit" class="btn btn-primary">{% trans "Add Source" %}</button>
            </div>
        </div>
    </form>

{% endblock %}
