{% load staticfiles %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en-US">
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# website: http://ogp.me/ns/website# ">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    {% include 'boards/_meta.html' %}

    {% block opengraph %}
    {% endblock %}

    {% render_bundle 'main' 'css' %}
    <link rel="stylesheet" type="text/css" href="{% static 'boards/css/style.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'boards/images/favicon.ico' %}"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ site.name }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'openach:index' %}">Home</a></li>
                    <li><a href="{% url 'openach:about' %}">About</a></li>
                    <li><a href="{% url 'openach:boards' %}">Boards</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="/accounts/profile">Profile</a></li>
                        <li><a href="/accounts/logout">Logout</a></li>
                    {% else %}
                        <li><a href="/accounts/login">Login</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div> <!-- /container -->

<div class="container">
    {% if banner %}
        <div class="alert alert-warning">
            {{ banner|urlize }}
        </div>
    {% endif %}
    {% include 'boards/_messages.html' %}
</div>

<div class="container">

    {% block content %}
    {% endblock %}
</div> <!-- /container -->

{% render_bundle 'main' 'js' %}

</body>
</html>