{% load staticfiles %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load notifications_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# website: http://ogp.me/ns/website# ">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}{% endblock %}</title>
    {% include 'boards/_meta.html' %}

    {% block opengraph %}
    {% endblock %}

    {% render_bundle 'main' 'css' %}
    <link rel="stylesheet" type="text/css" href="{% static 'boards/css/style.css' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'boards/images/favicon.ico' %}"/>
</head>
<body>
<div class="container">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ site.name }}</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'openach:index' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'openach:about' %}">{% trans "About" %}</a></li>
                    <li><a href="{% url 'openach:boards' %}">{% trans "Boards" %}</a></li>
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="/accounts/profile">{% trans "Profile" %}
                                <span class='badge'
                                      data-notify-api-url="{% url 'notifications:live_unread_notification_count' %}">0
                                </span>
                            </a>
                        </li>
                        <li><a href="/accounts/logout">{% trans "Logout" %}</a></li>
                    {% else %}
                        <li><a href="/accounts/login">{% trans "Login" %}</a></li>
                    {% endif %}
                    <li>
                    </li>
                </ul>
                <div class="navbar-form navbar-left navbar-search">
                    <div class="form-group">
                        <input id="board-search" type="text" class="form-control" placeholder="{% trans "Search" %}">
                    </div>
                </div>
                {% if languages|length > 1 %}
                <form class="navbar-form navbar-right navbar-language" name="switchLanguageForm"
                      action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ redirect_to }}" />
                    <select name="language" class="form-control selectize">
                        {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                        {% endfor %}
                    </select>
                </form>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
</div> <!-- /container -->

<div class="container">
    {% if banner %}
        <div class="alert alert-warning">
            {{ banner|urlize }}
        </div>
    {% endif %}
    {% include 'boards/_messages.html' %}
</div>

<div class="container">

    {% block content %}
    {% endblock %}
</div> <!-- /container -->

{% render_bundle 'main' 'js' %}
</body>
</html>
