{% extends 'boards/base.html' %}
{% load board_extras %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Boards" %} | {{ site.name }}{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ site.name }} {% trans "Intelligence Boards" %}" />
    <meta property="og:url" content="{{ request|canonical_reverse:'openach:boards' }}" />
{% endblock %}

{% block content %}
    <h1>
        {% trans "Intelligence Boards" %}
        <a class="btn btn-primary" href="{% url 'openach:create_board' %}">{% trans "Create Board" %}</a>
    </h1>

    {% include 'boards/_board_table.html' %}
{% endblock %}
