{% extends 'boards/base.html' %}

{% block title %}Boards | {{ site.name }}{% endblock %}

{% load board_extras %}
{% load static %}

{% block opengraph %}
    <meta property="og:title" content="{{ site.name }} Intelligence Boards" />
    <meta property="og:url" content="{{ request|canonical_reverse:'openach:boards' }}" />
{% endblock %}

{% block content %}
    <h1>
        Intelligence Boards
        <a class="btn btn-primary" href="{% url 'openach:create_board' %}">Create Board</a>
    </h1>

    {% include 'boards/_board_table.html' %}
{% endblock %}
