{% extends 'boards/base.html' %}
{% load board_extras %}
{% load i18n %}
{% load comments %}
{% load bootstrap %}

{% block title %}
  {% blocktrans trimmed with board_title=board.board_title site_name=site.name %}
    Change History for {{ board_title }} | {{ site_name }}
  {% endblocktrans %}
{% endblock %}

{% block content %}

    <h1>
      {% blocktrans trimmed with board_title=board.board_title %}
        Change History: <i>{{ board_title }}</i>
      {% endblocktrans %}
    </h1>

    <a class="btn btn-default" href="{{ board|board_url }}">{% trans "Return to Board" %}</a>

    <table class="table table-hover audit-table">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "User" %}</th>
                <th colspan="2">{% trans "Modification" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for event in history %}
                <tr>
                    <td>{{ event.date_created|date }}</td>
                    <td>
                        {% if event.user %}
                            <a href="{% url 'profile' event.user.id %}">{{ event.user.username }}</a>
                        {% endif %}
                    </td>
                    <td>
                      {% get_verbose_field_name event.object event.field_name as field_name %}
                      {% blocktrans trimmed with field_value=event.field_value %}
                        Changed {{ field_name }} to {{ field_value }}
                      {% endblocktrans %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
