{% extends 'boards/base.html' %}
{% load bootstrap %}
{% load i18n %}

{% block title %}{% trans "Create Board" %} | {{ site.name }}{% endblock %}

{% block content %}
    <h1>{% trans "Create Board" %}</h1>

    <p>
      {% blocktrans trimmed %}
        To create a board, enter a title, a description, and two initial competing hypotheses.
        You will be able to add additional hypotheses once you've created the board.
      {% endblocktrans %}
    </p>

    <form action="{% url 'openach:create_board' %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div>
                <button type="submit" class="btn btn-primary">{% trans "Create Board" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
