{% extends 'boards/base.html' %}

{% load board_extras %}

{% block content %}
    <h1>Analyzing "{{ board.board_title }}"</h1>
    <p>{{ board.board_desc }}</p>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>
                <a href="{% url 'openach:add_evidence' board.id %}"><button class="btn btn-primary">Add Evidence</button></a>
                <a href="{% url 'openach:add_hypothesis' board.id %}"><button class="btn btn-primary">Add Hypothesis</button></a>
            </th>
            {% for hypothesis in board.hypothesis_set.all %}
                <th>{{ hypothesis.hypothesis_text }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for evidence in board.evidence_set.all %}
            <tr>
                <td>
                    {{ evidence.evidence_desc }}
                    <a href="{% url 'openach:evaluate' board.id evidence.id %}">Evaluate</a>
                </td>
                {% for hypothesis in board.hypothesis_set.all %}
                    <td>
                        {% get_detail votes evidence.id hypothesis.id %}
                    </td>
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td colspan={{ board.hypothesis_set.all|length }}>
                    No evidence has been provided yet. <a href="{% url 'openach:add_evidence' board.id %}">Add evidence.</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}