{% extends 'boards/base.html' %}

{% block title %}{{ board.board_title }} | {{ site.name }}{% endblock %}

{% load board_extras %}
{% load comments %}
{% load bootstrap %}
{% load static %}

{% block opengraph %}
    <meta property="og:title" content="{{ board.board_title }}" />
    <meta property="og:url" content="{{ request|canonical_url:board }}" />
{% endblock %}

{% block content %}
    <h1>Intelligence Board: <i>{{ board.board_title }}</i></h1>

    {% if allow_share %}
        {% include 'boards/_sharing.html' with title=board.board_title url=request|full_url:board only %}
    {% endif %}

    <div>
        {% if board.creator %}
            Board created by <a href="{% url 'profile' board.creator_id %}">{{ board.creator }}</a>
            on {{ board.pub_date|date }}.
        {% else %}
            Board created on {{ board.pub_date|date }}.
        {% endif %}
    </div>
    <div class="well">{{ board.board_desc }}</div>

    <p>
        <b>Instructions:</b> The following table collects the possible hypotheses and relevant evidence. The evidence
        that best distinguishes the hypotheses are shown first. Hypotheses that are most consistent are shown first.
        To evaluate the hypotheses against a piece of evidence, click the "Evaluate" button in the evidence cell.
        You can view the sources that corroborate a piece of evidence by clicking the "Detail" button for that piece
        of evidence.
    </p>

    <table class="table table-bordered ach-table">
        <thead>
        <tr>
            <th class="ach-actions">
                Actions:
                <div class="btn-group" role="group" aria-label="Board Actions">
                    <a class="btn btn-default btn-sm" href="{% url 'openach:add_evidence' board.id %}">Add Evidence</a>
                    <a class="btn btn-default btn-sm" href="{% url 'openach:add_hypothesis' board.id %}">Add Hypothesis</a>
                    {% if request.user.is_staff or request.user == board.creator %}
                        <a class="btn btn-default btn-sm" href="{% url 'openach:edit_board' board.id %}">Edit Board</a>
                    {% endif %}
                    <a class="btn btn-default btn-sm" href="{% url 'openach:board_history' board.id %}">View History</a>
                </div><br/>
                View:
                <div class="btn-group" role="group" aria-label="View Type">
                    {% if view_type == 'disagreement' %}
                        <a class="btn btn-default btn-sm active" href="{{ board|board_url }}">Disagreement</a>
                    {%  else %}
                        <a class="btn btn-default btn-sm" href="{{ board|board_url }}?view_type=disagreement">
                            Disagreement
                        </a>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        {% if view_type == 'comparison' %}
                            <a class="btn btn-default btn-sm active" href="{{ board|board_url }}">Comparison</a>
                        {%  else %}
                            <a class="btn btn-default btn-sm" href="{{ board|board_url }}?view_type=comparison">
                                Comparison
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </th>
            {% for hypothesis, inconsistency in hypotheses %}
                <th class="hypothesis">
                    <div>{{ hypothesis.hypothesis_text }}</div>
                    {% if debug_stats %}
                        <span class="label label-info">{{ inconsistency|floatformat:2 }}</span>
                    {% endif %}
                    {% if request.user.is_staff or request.user == board.creator or request.user == hypothesis.creator %}
                        <a class="btn btn-default btn-xs" href="{% url 'openach:edit_hypothesis' hypothesis.id %}">Edit</a>
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for evidence, diagnosticity in evidences %}
            <tr>
                <td class="evidence">
                    {% if evidence.event_date %}
                        <span class="event-date">{{ evidence.event_date }}</span>
                    {% endif %}
                    <span>{{ evidence.evidence_desc }}</span>
                    <div class="btn-group btn-group-xs" role="group" aria-label="Evidence Actions">
                        <a class="btn btn-default" href="{% url 'openach:evidence_detail' evidence.id %}">Details</a>
                        <a class="btn btn-default" href="{% url 'openach:evaluate' board.id evidence.id %}">Evaluate</a>
                    </div>
                    {% if debug_stats %}
                        <span class="label label-info">{{ diagnosticity|floatformat:2 }}</span>
                    {% endif %}
                </td>
                {% for hypothesis, inconsistency in hypotheses %}
                    {% get_detail votes evidence.id hypothesis.id as detail %}

                    {% if view_type == 'disagreement' %}
                        {% get_detail disagreement evidence.id hypothesis.id as detail_disagreement %}
                        <td class="assessment {{ detail_disagreement|disagreement_style }}">
                            {% if detail_disagreement < 0.5 %}
                                {{ detail_disagreement|disagreement_category }}:
                                <span class="{{ detail|detail_classname }}">{{ detail|detail_name }}</span>
                            {% else %}
                                {{ detail_disagreement|disagreement_category }}
                            {% endif %}
                        </td>
                    {% elif view_type == 'comparison' and request.user.is_authenticated %}
                        {% get_detail user_votes evidence.id hypothesis.id as user_detail %}

                        {% if user_detail == detail %}
                            <td class="assessment {{ user_detail|detail_classname }}">
                                {{ user_detail|detail_name }}
                            </td>
                        {% elif user_detail %}
                            <td class="assessment {% comparison_style user_detail detail %}">
                                {{ user_detail|detail_name }} vs. {{ detail|detail_name }}
                            </td>
                        {% else %}
                            <td class="assessment {{ user_detail|detail_classname }}">
                                Consensus: {{ detail|detail_name }}
                            </td>
                        {% endif %}
                    {% else %}
                        <td class="assessment {{ detail|detail_classname }}">
                            {{ detail|detail_name }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td colspan={{ board.hypothesis_set.all|length }}>
                    No evidence has been provided yet. <a href="{% url 'openach:add_evidence' board.id %}">Add evidence.</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Comments</h2>

    {% render_comment_list for board %}

    {% if user.is_authenticated %}
        {% get_comment_form for board as form %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ form.comment|bootstrap }}
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{{ board|board_url }}" />
            <input class="btn btn-primary" type="submit" value="Add comment" id="id_submit" />
        </form>
    {% else %}
        <p>Please <a href="/accounts/login/?next={{ board|board_url }}">log in</a> to leave a comment.</p>
    {% endif %}

    {% include 'boards/_footer.html' %}

{% endblock content %}