{% extends 'boards/base.html' %}
{% load board_extras %}
{% load auth_extras %}
{% load i18n %}
{% load comments %}
{% load bootstrap %}
{% load static %}

{% block title %}{{ board.board_title }} | {{ site.name }}{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="{{ board.board_title }}" />
    <meta property="og:url" content="{{ request|canonical_url:board }}" />
{% endblock %}

{% block content %}
    <h1>
        {% trans "Intelligence Board:"%} <i>{{ board.board_title }}</i>

        {% if board|is_private %}
            <span class="private-indicator">Private</span>
        {% endif %}
    </h1>
    {% if allow_share %}
        {% include 'boards/_sharing.html' with title=board.board_title url=request|full_url:board only %}
    {% endif %}

    <div>
        {% if board.creator %}
          {% url 'profile' board.creator_id as profile_url %}
          {% blocktrans trimmed with board.creator as creator and board.pub_date|date as pub_date %}
            Board created by <a href="{{ profile_url }}">{{ creator }}</a>
            on {{ pub_date }}.
          {% endblocktrans %}
        {% else %}
          {% blocktrans trimmed with board.pub_date|date as pub_date %}
            Board created on {{ pub_date }}.
          {% endblocktrans %}
        {% endif %}
    </div>
    <div class="well">{{ board.board_desc }}</div>

    <div class="btn-toolbar" role="toolbar">
        {% if permissions|contains:'edit_board' or permissions|contains:'add_elements' %}
            <div class="btn-group" role="group" aria-label="{% trans "Board Actions" %}">
                {% if permissions|contains:'edit_board' %}
                    <a class="btn btn-default btn-sm" href="{% url 'openach:edit_board' board.id %}">{% trans "Edit Board" %}</a>
                {% endif %}
                {% if permissions|contains:'add_elements' %}
                    <a class="btn btn-default btn-sm" href="{% url 'openach:add_evidence' board.id %}">{% trans "Add Evidence" %}</a>
                    <a class="btn btn-default btn-sm" href="{% url 'openach:add_hypothesis' board.id %}">{% trans "Add Hypothesis" %}</a>
                {% endif %}
            </div>
        {% endif %}

        {% if board.creator_id == request.user_id  or request.user.is_staff %}
            <div class="btn-group" role="group" aria-label="{% trans "Administrator Actions" %}">
                <a class="btn btn-default btn-sm" href="{% url 'openach:edit_permissions' board.id %}">
                    {% trans "Modify Permissions" %}
                </a>
            </div>
        {% endif %}
    </div>

    <table class="table table-bordered ach-table">
        <thead>
        <tr>
            <th colspan="2" class="ach-actions">
                {% if view_type == 'disagreement' %}
                    {% trans "Disagreement View" %}
                {% elif view_type == 'comparison' %}
                    {% trans "Comparison View" %}
                {% else %}
                    {% trans "Aggregate View" %}
                {% endif %}
                {% if vote_type == 'collab' %}
                    ({% trans "Collaborator Evaluations" %})
                {% else %}
                    ({% trans "All Evaluations" %})
                {% endif %}
                <div class="btn-group" role="group" aria-label="{% trans "View Actions" %}">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% trans "Change View" %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{{ board|board_url }}?{% url_replace request 'view_type' 'aggregate' %}">
                                    {% trans "Aggregate" %}
                                </a>
                            </li>
                            <li>
                                <a href="{{ board|board_url }}?{% url_replace request 'view_type' 'disagreement' %}">
                                    {% trans "Disagreement" %}
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}
                                <li>
                                    <a href="{{ board|board_url }}?{% url_replace request 'view_type' 'comparison' %}">
                                        {% trans "Comparison" %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    {% if board.has_collaborators %}
                        <div class="btn-group" role="group">
                            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans "Choose Evaluations" %}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ board|board_url }}?{% url_replace request 'vote_type' 'all' %}">
                                        {% trans "All Evaluations" %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ board|board_url }}?{% url_replace request 'vote_type' 'collab' %}">
                                        {% trans "Collaborators" %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                    <a class="btn btn-link btn-sm" href="{% url 'openach:board_history' board.id %}">{% trans "Board History" %}</a>
                </div>
            </th>
            {% for hypothesis, inconsistency in hypotheses %}
                <th class="hypothesis">
                    <div>{{ hypothesis.hypothesis_text }}</div>
                    {% if debug_stats %}
                        <span class="label label-info">{{ inconsistency.0|floatformat:2 }}</span>
                    {% endif %}
                    {% can_edit request board hypothesis as editable %}
                    {% if editable %}
                        <br/>
                        <a class="btn btn-primary btn-xs" href="{% url 'openach:edit_hypothesis' hypothesis.id %}">{% trans "Edit" %}</a>
                    {% endif %}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for evidence, diagnosticity in evidences %}
            <tr>

                <td class="evidence">
                    {% if evidence.event_date %}
                        <span class="event-date">{{ evidence.event_date }}</span>
                    {% endif %}
                    <span>
                        <a href="{% url 'openach:evidence_detail' evidence.id %}">
                        {{ evidence.evidence_desc }}
                        </a>
                    </span>
                    {% if debug_stats %}
                        <span class="label label-info">{{ diagnosticity.0|floatformat:2 }}</span>
                    {% endif %}
                </td>

                <td>
                    <a class="btn btn-xs btn-primary" href="{% url 'openach:evaluate' board.id evidence.id %}">{% trans "Evaluate" %}</a>
                </td>


                {% for hypothesis, inconsistency in hypotheses %}
                    {% get_detail votes evidence.id hypothesis.id as detail %}
                    {% get_detail disagreement evidence.id hypothesis.id as detail_disagreement %}

                    {% if request.user.is_authenticated %}
                        {% get_detail user_votes evidence.id hypothesis.id as user_detail %}
                    {% endif %}

                    {% anon_or_voted request user_detail as voted %}

                    {% if view_type == 'disagreement' %}
                        <td class="assessment {{ detail_disagreement|disagreement_style }} {% if not voted %}corner-cut{% endif %}">
                            {% if detail_disagreement < 0.5 %}
                                {{ detail_disagreement|disagreement_category }}:
                                <span class="{{ detail|detail_classname }}">{{ detail|detail_name }}</span>
                            {% else %}
                                {{ detail_disagreement|disagreement_category }}
                            {% endif %}
                        </td>
                    {% elif view_type == 'comparison' and request.user.is_authenticated %}
                        {% if user_detail and not detail %}
                            <td class="assessment {{ user_detail|detail_classname }} {% if not voted %}corner-cut{% endif %}">
                                {{ user_detail|detail_name }} {% trans "vs. No Assessment" %}
                                {% include 'boards/_detail_icons.html' %}
                            </td>
                        {% elif user_detail == detail or detail == None %}
                            <td class="assessment {{ user_detail|detail_classname }} {% if not voted %}corner-cut{% endif %}">
                                {{ user_detail|detail_name }}
                                {% include 'boards/_detail_icons.html' %}
                            </td>
                        {% elif user_detail %}
                            <td class="assessment {% comparison_style user_detail detail %} {% if not voted %}corner-cut{% endif %}">
                                {{ user_detail|detail_name }} {% trans "vs." %} {{ detail|detail_name }}
                                {% include 'boards/_detail_icons.html' %}
                            </td>
                        {% else %}
                            <td class="assessment {{ user_detail|detail_classname }} {% if not voted %}corner-cut{% endif %}">
                                {% trans "Aggregate:" %} {{ detail|detail_name }}
                                {% include 'boards/_detail_icons.html' %}
                            </td>
                        {% endif %}
                    {% else %}
                        <td class="assessment {{ detail|detail_classname }} {% if not voted %}corner-cut{% endif %}">
                            {{ detail|detail_name }}
                            {% include 'boards/_detail_icons.html' %}
                        </td>
                    {% endif %}

                {% endfor %}
            </tr>
        {% empty %}
            <tr>
                <td></td>
                <td></td>
                <td colspan={{ board.hypothesis_set.all|length }}>
                    {% trans "No evidence has been provided yet." %} <a href="{% url 'openach:add_evidence' board.id %}">{% trans "Add evidence." %}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if permissions|contains:'read_comments' %}

        <h2>{% trans "Comments" %}</h2>

        {% render_comment_list for board %}

        {% if permissions|contains:'add_comments' %}
            {% get_comment_form for board as form %}
            <form action="{% comment_form_target %}" method="POST">
                {% csrf_token %}
                {{ form.comment|bootstrap }}
                {{ form.honeypot }}
                {{ form.content_type }}
                {{ form.object_pk }}
                {{ form.timestamp }}
                {{ form.security_hash }}
                <input type="hidden" name="next" value="{{ board|board_url }}" />
                <input class="btn btn-primary" type="submit" value="{% trans "Add comment" %}" id="id_submit" />
            </form>
        {% endif %}

    {% endif %}

    {% include 'boards/_footer.html' %}

{% endblock content %}