{% extends 'boards/base.html' %}
{% load board_extras %}
{% load bootstrap %}
{% load i18n %}

{% block title %}{% trans "Edit Evidence" %} | {{ site.name }}{% endblock %}

{% block content %}
    <h1>{% trans "Edit Evidence" %}</h1>

    <form action="{% url 'openach:edit_evidence' evidence.id %}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <div>
                <a class="btn btn-default" href="{% url 'openach:evidence_detail' evidence.id %}">{% trans "Return to Evidence" %}</a>
                {% if allow_remove %}
                    <button type="submit" class="btn btn-danger" name="remove" value="remove">{% trans "Remove Evidence" %}</button>&nbsp;
                {% endif %}
                <button type="submit" class="btn btn-primary" value="save">{% trans "Save Edits" %}</button>
            </div>
        </div>
    </form>

{% endblock %}
