{% extends 'boards/base.html' %}
{% load board_extras %}
{% load i18n %}

{% block title %}{% trans "Evaluate Evidence" %} | {{ site.name }}{% endblock %}

{% block content %}

    <h1>{% trans "Evaluate Evidence" %}</h1>

    <p>
      <b>{% trans "Instructions:" %}</b>
      {% url 'openach:evidence_detail' evidence.id as evidence_url %}
      {% blocktrans trimmed %}
          Evaluate the consistency of each hypothesis with respect to the following evidence. We've hidden your previous
          evaluations and randomized the order of the hypotheses in order to prevent bias.  If the evidence does not
          apply to a hypothesis, select N/A.
      {% endblocktrans %}
    </p>
    <p>
        {% blocktrans trimmed %}
            <i>Assume that the evidence is valid. You can evaluate the validity of the evidence (and its sources) on
            the <a href="{{ evidence_url }}">evidence detail page</a>.</i>
        {% endblocktrans %}
    </p>

    <div class="well">{{ evidence.evidence_desc }}</div>

    <form action="{% url 'openach:evaluate' board.id evidence.id %}" method="post">
        {% csrf_token %}
        {% for hypothesis, eval_ in hypotheses %}
            <div class="form-group">
                <label for="hypothesis-{{ hypothesis.id }}" class="control-label">{% trans "Hypothesis:"%} {{ hypothesis.hypothesis_text }}</label>
                <div>
                    <select id="hypothesis-{{ hypothesis.id }}" name="hypothesis-{{ hypothesis.id }}" class="form-control">
                        {% if eval_ %}
                            <option value="{{ keep_eval }}">{{ keep_eval }}</option>
                            <option value="{{ remove_eval }}">{{ remove_eval }}</option>
                        {% else %}
                            <option value="{{ default_eval }}">{{ default_eval }}</option>
                        {% endif %}
                        {% for option in options %}
                            <option value="{{ option.0 }}">{{ option.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endfor %}
        <div class="form-group">
            <div>
                <a class="btn btn-default" href="{{ board|board_url }}">{% trans "Return to Board" %}</a>
                <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
            </div>
        </div>
    </form>

{% endblock %}