{% extends 'boards/base.html' %}

{% block title %}Evidence Detail | {{ site.name }}{% endblock %}

{% load board_extras %}
{% load auth_extras %}
{% load comments %}
{% load bootstrap %}

{% block opengraph %}
    <meta property="og:title" content="{{ evidence.board.board_title }}" />
    <meta property="og:url" content="{{ request|canonical_url:evidence }}" />
{% endblock %}

{% block content %}
    <h1>
        Evidence for {{ evidence.board.board_title }}
    </h1>

    <div>
        Added by <a href="{% url 'profile' evidence.creator.id %}">{{ evidence.creator.username }}</a>
        on {{ evidence.submit_date }}
        {% if evidence.event_date %}
            Event occurred on {{ evidence.event_date }}.
        {%  endif %}
    </div>
    <div class="well">{{ evidence.evidence_desc }}</div>

    <div>
        <a class="btn btn-primary" href="{% url 'openach:add_source' evidence.id %}?kind=corroborate">Add Corroborating Source</a>&nbsp;
        <a class="btn btn-warning" href="{% url 'openach:add_source' evidence.id %}?kind=conflicting">Add Conflicting Source</a>&nbsp;
        {% can_edit request evidence.board evidence as editable %}
        {% if editable %}
            <a class="btn btn-default" href="{% url 'openach:edit_evidence' evidence.id %}">Edit Evidence</a>&nbsp;
        {% endif %}
        <a class="btn btn-default" href="{{ evidence.board|board_url }}">Return to Board</a>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th>Source Date</th>
            <th>Quality Tags</th>
            <th>Source URL</th>
            <th>Submission</th>
            <th>Add Quality Tag</th>
        </tr>
        </thead>
        <tbody>
        {% for source in sources %}
            <tr class="{% if not source.corroborating %}src-conflicting{% endif %}">
                <td>{{ source.source_date }}</td>
                <td>
                    {% for tag in available_tags %}
                        {% get_source_tags source_tags source.id tag.id as tag_count %}
                        {% if tag_count %}
                            <span class="source-tag">{{ tag.tag_name }} x {{ tag_count|length }}</span>
                        {% endif %}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ source.source_url }}" target="_blank">{{ source.source_url }}</a>
                </td>
                <td>
                    Submitted on {{ source.submit_date }} by
                    <a href="{% url 'profile' source.uploader.id %}">{{ source.uploader.username }}</a>
                </td>
                <td>
                    <form action="{% url 'openach:tag_source' evidence.id source.id %}" method="post">
                        {% csrf_token %}
                        {% for tag in available_tags %}
                            {% get_source_tags user_tags source.id tag.id as tag_count %}
                            <input type="submit" name="tag" value="{{ tag.tag_name }}"
                                   class="btn btn-default btn-xs {% if tag_count %}active{% endif %}"/>
                        {% endfor %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h2>Comments</h2>

    {% render_comment_list for evidence %}

    {% if user.is_authenticated %}
        {% get_comment_form for evidence as form %}
        <form action="{% comment_form_target %}" method="POST">
            {% csrf_token %}
            {{ form.comment|bootstrap }}
            {{ form.honeypot }}
            {{ form.content_type }}
            {{ form.object_pk }}
            {{ form.timestamp }}
            {{ form.security_hash }}
            <input type="hidden" name="next" value="{% url 'openach:evidence_detail' evidence.id %}" />
            <input class="btn btn-primary" type="submit" value="Add comment" id="id_submit" />
        </form>
    {% else %}
        <p>
            Please <a href="/accounts/login/?next={% url 'openach:evidence_detail' evidence.id %}">log in</a> to leave a
            comment.
        </p>
    {% endif %}

    {% include 'boards/_footer.html' %}

{% endblock %}
