{% extends 'boards/base.html' %}

{% block title %}{{ site.name }}{% endblock %}

{% load i18n %}
{% load board_extras %}

{% block content %}

    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome to the Open Synthesis Project!</h3>
                </div>
                <div class="panel-body">
                    <p>
                        Open Synthesis is an open platform for intelligence analysis. We're taking the best practices
                        from the intelligence and business communities and adapting them to work at internet-scale.
                    </p>

                    <p>
                        Every day, the world's population creates 2.5 quintillion bytes of data. Our goal is to empower
                        the public to distill this flood of information into actionable analysis.
                    </p>

                    <p>
                        Want to contribute? <a href="accounts/signup">Become an analyst today!</a>
                    </p>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">New to the Analysis of Competing Hypotheses (ACH)?</h3>
                </div>
                <div class="panel-body">
                    Created at the <a href="https://www.cia.gov/library/center-for-the-study-of-intelligence/csi-publications/books-and-monographs/psychology-of-intelligence-analysis/art11.html">CIA</a>,
                    ACH is a simple tool for analyzing complex situations. To perform ACH for an analysis question,
                    you first brainstorm a set of hypotheses that could answer the question. Next, you compile a list
                    of relevant evidence (information). For each piece of evidence, you assess which of the hypotheses
                    are consistent with that evidence. Once you've assessed all the evidence and hypotheses, you can
                    determine which hypotheses are most likely given the evidence.
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Project News</h3>
                </div>
                <ul class="list-group">
                    {% if latest_project_news %}
                        {% for headline in latest_project_news %}
                            <li class="list-group-item">
                                {{ headline.pub_date|date }}: {{ headline.content|urlize }}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No project news.</li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Most Recent Boards</h3>
                </div>
                <div class="panel-body">
                    Want help analyzing a question?
                    <a href="{% url 'openach:create_board' %}">{% trans "Create a board." %}</a>
                </div>
                <ul class="list-group">
                    {% if latest_board_list %}
                        {% for board in latest_board_list %}
                            <li class="list-group-item">
                                <a href="{{ board|board_url }}">{{ board.board_title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">No boards available.</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div> <!-- .row -->

{% endblock content %}
