{% extends 'boards/base.html' %}

{% block title %}Profile | Open Synthesis{% endblock %}

{% block content %}
    <h1>Welcome, {{ request.user.username }}</h1>
    <p>
        In the future, your private profile will summarize relevant content, alerts, etc. that's relevant to you.
    </p>

    <h2>Boards You Created</h2>
    <ul>
        {% for board in boards_created %}
            <li><a href="{% url 'openach:detail' board.id %}">{{ board.board_title }}</a> on {{ board.pub_date }}</li>
        {% endfor %}
    </ul>

    <h2>Boards You've Contributed To</h2>
    <p>Boards to which you've added at least one hypothesis or piece of evidence.</p>
    <ul>
        {% for board in boards_contributed %}
            <li><a href="{% url 'openach:detail' board.id %}">{{ board.board_title }}</a></li>
        {% endfor %}
    </ul>

    <h2>Boards You've Analyzed</h2>
    <p>Boards for which you've assessed at least one piece of evidence against they hypotheses.</p>
    <ul>
        {% for board in board_voted %}
            <li><a href="{% url 'openach:detail' board.id %}">{{ board.board_title }}</a></li>
        {% endfor %}
    </ul>

{% endblock content %}
