{% extends 'boards/base.html' %}

{% load board_extras %}
{% load i18n %}

{% block title %}Profile | Open Synthesis{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-7">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Welcome, {{ request.user.username }}</h3>
                </div>
                <div class="panel-body">
                    Your private profile summarizes the content, alerts, etc. that's relevant to you.
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Settings</h3>
                </div>
                <div class="panel-body">
                    In the future, you will be able to manage your account settings here.
                </div>
            </div>

        </div> <!-- col -->

        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boards You've Created</h3>
                </div>
                <div class="panel-body">
                    Want help analyzing a question?
                    <a href="{% url 'openach:create_board' %}">{% trans "Create a board." %}</a>
                </div>
                <ul class="list-group">
                    {% for board in boards_created %}
                        <li class="list-group-item">
                            <a href="{{ board|board_url }}">{{ board.board_title }}</a> on {{ board.pub_date }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boards You've Contributed To</h3>
                </div>
                <ul class="list-group">
                    {% for board in boards_contributed %}
                        <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boards You've Analyzed</h3>
                </div>
                <ul class="list-group">
                    {% for board in board_voted %}
                        <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- col -->
    </div> <!-- row -->

{% endblock content %}
