{% extends 'boards/base.html' %}
{% load board_extras %}
{% load i18n %}
{% load notifications_tags %}
{% load bootstrap %}

{% block title %}{% trans "Profile" %} | {{ site.name }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-7">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      {% blocktrans trimmed with username=request.user.username %}
                        Welcome, {{ username }}
                      {% endblocktrans %}
                    </h3>
                </div>
                <div class="panel-body">
                    {% trans "Your private profile summarizes the content, alerts, etc. that are relevant to you." %}
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    {% if notifications|length > 0 %}
                        <div class="btn-group pull-right">
                            <form method="post" action="{% url 'openach:clear_notifications' %}">
                                {% csrf_token %}
                                {% if notifications|length > 5 %}
                                <a class="btn btn-default btn-sm" href="{% url 'openach:notifications' %}">{% trans "View All" %}</a>
                                {% endif %}
                                <input class="btn btn-default btn-sm" name="clear" type="submit" value="{% trans "Clear" %}"/>
                            </form>
                        </div>
                    {% endif %}
                    <h3 class="panel-title">{% trans "Notifications" %}
                        <span class="badge">{{ notifications|length }}</span>
                    </h3>
                </div>
                <ul class="list-group">
                    {% if notifications|length > 0 %}
                        {% for notification in notifications|slice:":5" %}
                            <li class="list-group-item">
                                {% include 'boards/notifications/_notification.html' %}
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">{% trans "You have no unread notifications." %}</li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Settings" %}</h3>
                </div>
                <div class="panel-body">
                    <form method="post" action="/accounts/profile/">
                        {% csrf_token %}
                        {{ settings_form|bootstrap }}
                        <input class="btn btn-default" type="submit" value="{% trans "Update Settings" %}"/>
                    </form>
                </div>
            </div>
        
        </div> <!-- col -->

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Invitations" %}</h3>
                </div>
                <div class="panel-body">
                    {% if request.user.invites_remaining > 0 %} 
                        <form method="post" action="{% url 'issue_invite' %}">  
                            {% csrf_token %}
                            {{ invite_form|bootstrap }} 
                            <input class="btn btn-primary" type="submit" value="{% trans "Send Invite" %}"/>
                        </form>
                    {% else %}
                        <p>{% trans "You don't have any remaining invites." %}</p>
                    {% endif %}  
                </div>
            </div>
        
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="btn-group pull-right">
                        {% if boards_created and boards_created|length > 3 %}
                            <a class="btn btn-default btn-sm" href="{% url 'openach:user_boards' request.user.id %}?query=created">
                                {% trans "View All" %}
                            </a>
                        {% endif %}
                        <a class="btn btn-primary btn-sm" href="{% url 'openach:create_board' %}">{% trans "Create" %}</a>
                    </div>
                    <h3 class="panel-title">{% trans "Recent Boards You've Created" %}</h3>
                </div>
                <ul class="list-group">
                    {% if boards_created %}
                        {% for board in boards_created|slice:":3" %}
                            <li class="list-group-item">
                                <a href="{{ board|board_url }}">{{ board.board_title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">{% trans "You have not created any boards." %} <a href="{% url 'openach:create_board' %}">{% trans "Create a new board." %}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    {% if boards_contributed and boards_contributed|length > 3 %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' request.user.id %}?query=contributed">
                            {% trans "View All" %}
                        </a>
                    {% endif %}
                    <h3 class="panel-title">{% trans "Recent Boards You've Contributed To" %}</h3>
                </div>
                <ul class="list-group">
                    {% if boards_contributed %}
                        {% for board in boards_contributed|slice:":3" %}
                            <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">{% trans "You have not contributed to any boards." %} <a href="{% url 'openach:boards' %}">{% trans "Find a board to contribute to." %}</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    {% if board_voted %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' user.id %}?query=evaluated">
                          {% trans "View All" %}
                        </a>
                    {% endif %}
                    <h3 class="panel-title">{% trans "Recent Boards You've Analyzed" %}</h3>
                </div>
                <ul class="list-group">
                    {% if board_voted %}
                        {% for board in board_voted|slice:":3" %}
                            <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">{% trans "You have not evaluated any boards." %} <a href="{% url 'openach:boards' %}">{% trans "Find a board to evaluate." %}</a></li>
                    {% endif %}
                </ul>
            </div>
        </div> <!-- col -->
    </div> <!-- row -->
    
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      {% trans "Invite Management" %}
                    
                    </h3>
                </div>
                <div class="panel-body">
                    <pre>
                    Search: [ Search Bar                      ]

                    **User:** johndoe (Remaining Invites: 3)
                    
                    Allocate Invites: [ Text Input   ] [ Allocate Button ]
                    
                    Invite History:
                    -----------------------------------------------
                    Invitee Email             | Date Sent           | Status
                    -----------------------------------------------
                    jane.smith@example.com    | 2023-12-23 12:45 PM | Accepted
                    mary.johnson@example.com  | 2023-12-20 03:10 PM | Pending
                    -----------------------------------------------
                    </pre>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
