{% extends 'boards/base.html' %}
{% load board_extras %}
{% load i18n %}

{% block title %}
  {% blocktrans trimmed with username=user.username site_name=site.name %}
    User {{ username }} | {{ site_name }}
  {% endblocktrans %}
{% endblock %}

{% block opengraph %}
    <meta property="og:type" content="profile" />
    <meta property="profile:username" content="{{ user.username }}">
    <meta property="og:url" content="{{ request|canonical_profile_url:user }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                      {% blocktrans trimmed with username=user.username %}
                        User {{ username }}
                      {% endblocktrans %}
                    </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                      {% blocktrans trimmed with user.date_joined|date as join_date %}
                        Member since {{ join_date }}
                      {% endblocktrans %}
                    </li>
                </ul>
            </div>
        </div> <!-- col -->

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    {% if boards_created %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' user.id %}?query=created">
                            {% trans "View All" %}
                        </a>
                    {% endif %}
                    <h3 class="panel-title">{% trans "Recent Boards Created" %}</h3>
                </div>
                <ul class="list-group">
                    {% if boards_created %}
                        {% for board in boards_created|slice:":3" %}
                            <li class="list-group-item">
                                <a href="{{ board|board_url }}">{{ board.board_title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                          {% blocktrans trimmed with username=user.username %}
                            User {{ username }} has not created any boards
                          {% endblocktrans %}
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    {% if boards_contributed %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' user.id %}?query=contributed">
                            {% trans "View All" %}
                        </a>
                    {% endif %}
                    <h3 class="panel-title">{% trans "Recent Boards Contributed To" %}</h3>
                </div>
                <ul class="list-group">
                    {% if boards_contributed %}
                        {% for board in boards_contributed|slice:":3" %}
                            <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                          {% blocktrans trimmed with username=user.username %}
                            User {{ username }} has not contributed to any boards
                          {% endblocktrans %}
                        </li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    {% if board_voted %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' user.id %}?query=evaluated">
                            {% trans "View All" %}
                        </a>
                    {% endif %}
                    <h3 class="panel-title">{% trans "Recent Boards Analyzed" %}</h3>
                </div>
                <ul class="list-group">
                    {% if board_voted %}
                        {% for board in board_voted|slice:":3" %}
                            <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li class="list-group-item">
                          {% blocktrans trimmed with username=user.username %}
                            User {{ username }} has not evaluated any boards
                          {% endblocktrans %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div> <!-- col -->
    </div> <!-- row -->
{% endblock content %}
