{% extends 'boards/base.html' %}

{% load board_extras %}
{% load i18n %}

{% block title %}User {{ user.username }} | Open Synthesis{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User {{ user.username }}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Member since {{ user.date_joined|date }}</li>
                </ul>
            </div>
        </div> <!-- col -->

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boards Created</h3>
                </div>
                <ul class="list-group">
                    {% for board in boards_created %}
                        <li class="list-group-item">
                            <a href="{{ board|board_url }}">{{ board.board_title }}</a> on {{ board.pub_date|date }}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boards Contributed To</h3>
                </div>
                <ul class="list-group">
                    {% for board in boards_contributed %}
                        <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boards Analyzed</h3>
                </div>
                <ul class="list-group">
                    {% for board in board_voted %}
                        <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div> <!-- col -->
    </div> <!-- row -->
{% endblock content %}
