{% extends 'boards/base.html' %}

{% load board_extras %}
{% load i18n %}

{% block title %}User {{ user.username }} | {{ site.name }}{% endblock %}

{% block opengraph %}
    <meta property="og:type" content="profile" />
    <meta property="profile:username" content="{{ user.username }}">
    <meta property="og:url" content="{{ request|canonical_profile_url:user }}">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">User {{ user.username }}</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">Member since {{ user.date_joined|date }}</li>
                </ul>
            </div>
        </div> <!-- col -->

        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading button-panel-heading clearfix">
                    <h3 class="panel-title pull-left">Recent Boards Created</h3>
                    {% if boards_created %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' user.id %}?query=created">
                            View All
                        </a>
                    {% endif %}
                </div>
                <ul class="list-group">
                    {% if boards_created %}
                        {% for board in boards_created|slice:":3" %}
                            <li class="list-group-item">
                                <a href="{{ board|board_url }}">{{ board.board_title }}</a>
                            </li>
                        {% endfor %}
                    {% else %}
                        <li>User {{ user.username }} has not created any boards</li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading button-panel-heading clearfix">
                    <h3 class="panel-title pull-left">Recent Boards Contributed To</h3>
                    {% if boards_contributed %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' user.id %}?query=contributed">
                            View All
                        </a>
                    {% endif %}
                </div>
                <ul class="list-group">
                    {% if boards_contributed %}
                        {% for board in boards_contributed|slice:":3" %}
                            <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>User {{ user.username }} has not contributed to any boards</li>
                    {% endif %}
                </ul>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading button-panel-heading clearfix">
                    <h3 class="panel-title pull-left">Recent Boards Analyzed</h3>
                    {% if board_voted %}
                        <a class="btn btn-default btn-sm pull-right" href="{% url 'openach:user_boards' user.id %}?query=evaluated">
                            View All
                        </a>
                    {% endif %}
                </div>
                <ul class="list-group">
                    {% if board_voted %}
                        {% for board in board_voted|slice:":3" %}
                            <li class="list-group-item"><a href="{{ board|board_url }}">{{ board.board_title }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>User {{ user.username }} has not evaluated any boards</li>
                    {% endif %}
                </ul>
            </div>
        </div> <!-- col -->
    </div> <!-- row -->
{% endblock content %}
