{% extends 'boards/base.html' %}
{% load board_extras %}
{% load i18n %}
{% load static %}

{% block title %}
  {% blocktrans trimmed with username=user.username %}
    {{ username }}'s Boards
  {% endblocktrans %}
  | {{ site.name }}
{% endblock %}

{% block opengraph %}
    <meta property="og:title" content="Intelligence boards user {{ user.username }} has {{ verb }} on {{ site.name }}" />
    <meta property="og:url" content="{% canonical_reverse_arg request 'openach:user_boards' user.id %}" />
{% endblock %}

{% block content %}
    <h1>
        {% if user == request.user %}
            {% trans "Boards you have {{ verb }}" %}
        {% else %}
          {% blocktrans trimmed with username=user.username %}
            Boards <i>{{ username }}</i> has {{ verb }}
          {% endblocktrans %}
        {% endif %}

        <a class="btn btn-default" href="{% url 'profile' user.id %}">{% trans "View Account" %}</a>
    </h1>

    {% include 'boards/_board_table.html' %}
{% endblock %}
