{% extends 'boards/base.html' %}

{% block title %}{{ user.username }}'s Boards | {{ site.name }}{% endblock %}

{% load board_extras %}
{% load static %}

{% block opengraph %}
    <meta property="og:title" content="Intelligence boards user {{ user.username }} has {{ verb }} on {{ site.name }}" />
    <meta property="og:url" content="{% canonical_reverse_arg request 'openach:user_boards' user.id %}" />
{% endblock %}

{% block content %}
    <h1>
        {% if user == request.user %}
            Boards you have {{ verb }}
        {% else %}
            Boards <i>{{ user.username }}</i> has {{ verb }}
        {% endif %}

        <a class="btn btn-default" href="{% url 'profile' user.id %}">View Account</a>
    </h1>

    {% include 'boards/_board_table.html' %}
{% endblock %}
