body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.source-tag {
    background-color: #5bc0de;
    color: white;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 1px;
    font-size: 75%;
    display: inline-block;
}

.event-date {
    background-color: #5bc0de;
    padding-top: 1px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 1px;
    font-size: 85%;
    color:white;
}

.ach-table {
    border-top: 0;
    border-left: 0;
}
.ach-table>thead>tr>th.ach-actions {
    border-left: 0;
}
.ach-table>tbody>tr>td.evidence {
    font-size: 85%;
    border-left: 0;
}
.ach-table>thead>tr>th.hypothesis {
    font-size: 85%;
    text-align: center;
}
.ach-table>thead>tr>th.hypothesis>div{
    display: inline-block;
    text-align: left;
}
.ach-table>tbody>tr>td.assessment {
    font-size: 85%;
    text-align: center;
    vertical-align: middle;
}
.ach-table>thead>tr>th:first-child {
    width: 300px;
}
.ach-table>thead>tr>th:not(first-child) {
    width: 150px;
}
.ach-table>tbody>tr>td:first-child {
    width: 425px;
}
.ach-table>tbody>tr>td:not(first-child) {
    width: 150px;
}

.audit-table>thead>tr>th:first-child {
    width: 150px;
}
.audit-table>tbody>tr>td:first-child {
    width: 150px;
}

.eval-no-assessments {
    background-color: #fff;
    color: #909497;
}
.eval-consistent {
    background-color: #D6EAF8;
}
.eval-very-consistent {
    background-color: #5DADE2;
}
.eval-inconsistent {
    background-color: #FCF3CF;
}
.eval-very-inconsistent {
    background-color: #F7DC6F;
}
.eval-not-applicable {
    background-color: #F4F6F6;
    color: #BDC3C7;
}


.disagree-no-assessments {
    background-color: #fff;
    color: #909497;
}
.disagree-consensus {
    background-color: #fff;
    font-weight: 500;
}
.disagree-mild-dispute {
    background-color: #FADBD8;
}
.disagree-large-dispute {
    background-color: #F1948A;
}
.disagree-extreme-dispute {
    background-color: #B03A2E;
    color: #FDFEFE;
    font-weight: 500;
}

.src-conflicting {
    background-color: #FCF3CF;
}

footer.license {
    font-size: 0.8em;
}

#id_honeypot {
    display: none;
}
#id_comment {
    height: 5em;
    width: 40em;
    resize: none;
}

.dispute-icon {
    height: 1.5em;
}

.button-panel-heading > .panel-title {
    padding-top: 6px;
}
